body {
    background: hsl(30, 38%, 92%);
    width: 1500px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.product-preview {
    background-color: hsl(0, 0%, 100%);
    width: 670px;
    height: 500px;
    display: flex;
    border-radius: 10px;
}

.product-image {
    width: 500px;
    height: 500px;
    display: flex;
    border-radius: 10px;
}

img {
    border-radius: 10px 0px 0px 10px;
}

.product-info {
    padding: 30px;

}

.product-type {
    color: hsl(228, 12%, 48%);
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.product-name {
    color: hsl(212, 21%, 14%);
    margin: 0px 0px;
    font-size: 45px;
    font-weight: bold;
    font-family: "Fraunces", serif;
    
}

.perfume-note {
    color: hsl(228, 12%, 48%);
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.product-price {
    color: hsl(158, 36%, 37%);
    font-size: 28px;
    font-family: "Fraunces", serif;
    font-weight: bold;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 15px 82px;
    display: inline;
    justify-content: center;
    border: solid;
    border-radius: 10px;
}

.add-to-card-icon {
    display: inline;
    justify-content: center;     
}