body {
    background: hsl(30, 38%, 92%);
    width: 1500px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.product-preview {
    background-color: hsl(0, 0%, 100%);
    width: 640px;
    height: 470px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.product-image {
    height: 470px;
    display: flex;
    border-radius: 10px;
}

img {
    border-radius: 10px 0px 0px 10px;
}

.product-info {
    padding: 30px;

}

.product-type {
    color: hsl(228, 12%, 48%);
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.product-name {
    color: hsl(212, 21%, 14%);
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Fraunces", serif;
    line-height: 30px;
    
}

.perfume-note {
    color: hsl(228, 12%, 48%);
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 25px;
}

.product-price {
    font-family: "Fraunces", serif;
    display: flex;
    align-items: center;
}

.old-price {
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    margin: 20px;
}

.new-price {
    color: hsl(158, 36%, 37%);
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 8px 62px;
    display: flex;
    align-items: center;
    border: solid;
    border-radius: 10px;
}

.add-to-card-icon {
    padding: 8px 15px 8px 8px;
}